:root {
	--container-bg-color: #333;
	--left-bg-color: rgba(223, 39, 39, 0.7);
	--left-button-hover-color: rgba(161, 11, 11, 0.3);
	--right-bg-color: rgba(43, 43, 43, 0.8);
	--right-button-hover-color: rgba(92, 92, 92, 0.3);
	--hover-width: 75%;
	--other-width: 25%;
	--speed: 1000ms;
}

body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;

	padding: 0;
	width: 100%;
	overflow-x: hidden;
}


.pimg1, .pimg2, .pimg3{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
	fixed = parallax
	scroll = normal
	*/
	background-attachment: fixed;
}


.pimg1{
	opacity: 0.7;
	background-image: url('../img/background/city_train.jpg');
	min-height:95%;
}

.pimg2{
	opacity: 0.7;
	background-image: url('../img/background/city_blur.jpg');
	min-height:200px;
}

.pimg3{
	opacity: 0.85;
	background-image: url('../img/background/city3.jpg');
	min-height:500px;
}

.section{
	text-align:center;
	padding:50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color: #666;
}

.section-dark{
	background-color: #282e34;
	color: #ddd;
}

.ptext{
	position:absolute;
	top:50%;
	width:100%;
	text-align: center;
	color:#000;
	font-size:27px;
	letter-spacing:5px;
	text-transform: uppercase;
}

.ptext_footer{
	position:absolute;
	top:20%;
	width:100%;
	text-align: center;
	color:#000;
	font-size:16px;
	letter-spacing:8px;
	text-transform: uppercase;
}

.ptext .border{
	background-color: #111;
	color:#fff;
	padding:20px;
}

.ptext .border.trans{
	background-color: transparent;
}

h1.split_font{
	font-size: 5rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	white-space: nowrap;
}

h1.split_font_fd{
	font-size: 3rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	white-space: nowrap;
	opacity: 0;
}



.button_split {
	display: block;
	position: absolute;
	left: 50%;
	top: 60%;
	height: 2.5rem;
	padding-top: 0.2rem;
	width: 15rem;
	text-align: center;
	color: #fff;
	border: #fff solid 0.2rem;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}

.split.left .button_split:hover {
	background-color: var(--left-button-hover-color);
	border-color: var(--left-button-hover-color);
}

.split.right .button_split:hover {
	background-color: var(--right-button-hover-color);
	border-color: var(--right-button-hover-color);
}

.container_split {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--container-bg-color);
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.split.left {
	left: 0;
	background: url('../img/about_us/woman.jpg') center center no-repeat;
	background-size: cover;
}
.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}
.split.right {
	right: 0;
	background: url('../img/about_us/man.jpg') center center no-repeat;
	background-size: cover;
}
.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}
.split.left, .split.right, .split.right:before, .split.left:before, 
.hover-left .left .split_font_fd, .hover-right .right .split_font_fd{
	transition: var(--speed) all ease-in-out;
}
.hover-left .left {
	width: var(--hover-width);
}

.hover-left .left .split_font_fd{
	opacity: 1.0;
}

.hover-left .right {
	width: var(--other-width);
}

.hover-left .right:before {
	z-index: 2;
}

.hover-right .right {
	width: var(--hover-width);

}

.hover-right .right .split_font_fd{
	opacity: 1.0;
}

.hover-right .left {
	width: var(--other-width);
}

.hover-right .left:before {
	z-index: 2;
}

@media(max-width: 800px) {
	h1.split_font {
		font-size: 2rem;
	}

	.button_split {
		width: 12rem;
	}
}
@media(max-height: 700px) {
	.button_split {
		top: 70%;
	}
}
